@import '@/styles/global.scss';

.button {
  padding: $spacesXS $spacesM;

  font-size: $fonstSizeM;
  font-weight: $fontWeightL;

  color: $mainColor;
  background-color: $accentColor;

  @media (max-width: $breakpointL) {
    padding: $spacesXS;
    font-size: $fonstSizeS;
  }
}
