$headerHeight: 80px;
$navigationWidth: 300px;
$videoWidth: 500px;
$videoHeight: 300px;
$footerTitleWidth: 50%;
$formInput: 280px;
$formInputSmall: 180px;

$spacesXXS: 8px;
$spacesXS: 16px;
$spacesS: 24px;
$spacesM: 48px;
