@import '@/styles/global.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 99vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  cursor: pointer;
  background-color: $modalShadow;
}

.content {
  margin: 0 auto;
  padding: $spacesXS;
  background-color: $textColor;
  z-index: 2;
  cursor: auto;
}
