@import '@/styles/global.scss';

$lineLignPart: 55%;
$lineDarckPart: 25%;

.container {
  margin: $spacesL;

  @media (max-width: $breakpointM) {
    margin-left: $spacesXS;
    margin-right: $spacesXS;
  }
}

.lines {
  display: flex;

  justify-content: flex-end;
}

.lightLine {
  width: $lineLignPart;
  height: $lineHeight;
  background-color: $accentColor;
}

.darckLine {
  width: $lineDarckPart;
  height: $lineHeight;
  background-color: $linkColor;
}

.background {
  padding: $spacesL;
  background-color: $lightLinkColor;

  @media (max-width: $breakpointL) {
    padding-left: $spacesM;
    padding-right: $spacesM;
  }

  @media (max-width: $breakpointM) {
    padding-left: $spacesXS;
    padding-right: $spacesXS;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpointL) {
    flex-direction: column;
  }
}

.info {
  width: 50%;
  margin-right: $spacesM;
  @media (max-width: $breakpointL) {
    width: 100%;
  }
}

.link {
  color: $linkColor;
  font-weight: $fontWeightL;
}
