$headerHeight: 80px;
$navigationWidth: 280px;
$fullNavigationWidth: 400px;
$videoWidth: 500px;
$videoHeight: 300px;
$footerTitleWidth: 50%;
$formInput: 280px;
$formInputSmall: 180px;
$backgroundImageHeight: 90px;
$letterSpacing: 3px;
$homeHeaderTitle: 850px;
$descriptionWidth: 570px;
$minImageHeight: 400px;
$postImageHeight: 350px;
$shadowHeight: 99.5%;
$featuredPost: 55%;
$aside: 40%;
$borderWidth: 1px;
$lineHeight: 23px;
$categoryWidth: 240px;
$categoryWidthSmall: 200px;
$iconHeight: 48px;
$startImage: 70%;
$startContent: 500px;
$authorWidth: 280px;
$socialWidth: 100px;
$joinWidth: 450px;

$spacesXXS: 8px;
$spacesXS: 16px;
$spacesS: 24px;
$spacesM: 48px;
$spacesL: 80px;
$spacesXL: 140px;

$lineHeightS: 20px;
$lineHeightL: 28px;
$lineHeightXL: 40px;
