$headerHeight: 80px;
$navigationWidth: 280px;
$fullNavigationWidth: 400px;
$videoWidth: 500px;
$videoHeight: 300px;
$footerTitleWidth: 50%;
$formInput: 280px;
$formInputSmall: 180px;
$backgroundImageHeight: 90px;
$letterSpacing: 3px;
$homeHeaderTitle: 850px;
$descriptionWidth: 570px;
$minImageHeight: 400px;
$shadowHeight: 99.5%;

$spacesXXS: 8px;
$spacesXS: 16px;
$spacesS: 24px;
$spacesM: 48px;
$spacesL: 80px;
$spacesXL: 140px;

$lineHeightS: 16px;
$lineHeightL: 28px;
