@import '@/styles/global.scss';

.container {
  margin: 0 auto;
  margin-top: $spacesL;
  margin-bottom: $spacesL;
  width: $joinWidth;
  text-align: center;

  @media (max-width: $breakpointM) {
    width: 100%;
  }
}
