@use '@/styles/colors.scss' as *;
@use '@/styles/fonts.scss' as *;
@use '@/styles/sizes.scss' as *;
@use '@/styles/breakpoints.scss' as *;

.container {
  margin: $spacesL auto;
  width: $joinWidth;
  text-align: center;

  @media (max-width: $breakpointM) {
    width: 100%;
    margin: 0;
    padding: $spacesS;
    box-sizing: border-box;
  }
}
