@import '@/styles/global.scss';

$lineLignPart: 75%;
$lineDarckPart: 25%;

.container {
  margin: 0 $spacesXXL;

  @media (max-width: $breakpointL) {
    margin: 0 $spacesS;
  }
}

.content {
  display: flex;
  margin-bottom: $spacesL;
  @media (max-width: $breakpointL) {
    margin-bottom: $spacesS;
  }
  @media (max-width: $breakpointM) {
    flex-direction: column;
  }
}

.background {
  padding-top: $spacesL;
  padding-right: $spacesXXL;
  padding-left: $spacesXXL;
  background-color: $lightLinkColor;

  @media (max-width: $breakpointXL) {
    padding-right: $spacesL;
    padding-left: $spacesL;
  }

  @media (max-width: $breakpointL) {
    padding: $spacesS;
    padding-bottom: 0;
  }
}

.image {
  width: $authorImageWidth;
  height: $authorImageHeight;
  object-fit: cover;

  @media (max-width: $breakpointM) {
    width: 100%;
    height: auto;
    margin-bottom: $spacesS;
  }
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $spacesM;

  @media (max-width: $breakpointL) {
    margin-left: $spacesXS;
  }

  @media (max-width: $breakpointM) {
    margin-left: 0;
  }
}

.networks {
  width: $socialWidth;
  margin-left: 0;
}

.lines {
  display: flex;
  width: 100%;
}

.lightLine {
  width: $lineLignPart;
  height: $lineHeight;
  background-color: $accentColor;
}

.darckLine {
  width: $lineDarckPart;
  height: $lineHeight;
  background-color: $linkColor;
}
