@use '@/styles/colors.scss' as *;
@use '@/styles/fonts.scss' as *;
@use '@/styles/sizes.scss' as *;
@use '@/styles/breakpoints.scss' as *;

.container {
  &:hover {
    background-color: $lightAccentColor;
  }
}

.image {
  width: 100%;
  height: $postImageHeight;
  object-fit: cover;
}

.infoContainer {
  display: flex;
}

.info {
  padding-top: $spacesS;
  margin-bottom: $spacesS;
  color: $mediumTextColor;
  font-size: $fonstSizeS;
  @media (max-width: $breakpointL) {
    margin-bottom: $spacesXXS;
  }
  @media (max-width: $breakpointM) {
    font-size: $fonstSizeXS;
  }
}

.accent {
  color: $linkColor;
  cursor: pointer;
}

.title {
  @media (max-width: $breakpointXL) {
    font-size: $fonstSizeL;
    font-weight: $fontWeightM;
    line-height: normal;
  }
}
