@use '@/styles/colors.scss' as *;
@use '@/styles/fonts.scss' as *;
@use '@/styles/sizes.scss' as *;
@use '@/styles/breakpoints.scss' as *;

$postsWidth: 80%;

.container {
  display: flex;
  margin: 0 $spacesL;

  @media (max-width: $breakpointXL) {
    margin: 0 $spacesS;
  }

  @media (max-width: $breakpointL) {
    margin: $spacesS;
    flex-direction: column-reverse;
  }
}

.header {
  width: 100%;
  padding-top: $spacesL;
  padding-bottom: $spacesL;
  text-align: center;
  background-color: $lightLinkColor;
}

.title {
  margin-bottom: $spacesS;
  color: $mainColor;
  font-size: $fonstSizeXXL;
  font-weight: $fontWeightXL;
  letter-spacing: $letterSpacing;

  @media (max-width: $breakpointM) {
    margin-bottom: $spacesXS;
    font-size: $fonstSizeXL;
  }
}

.posts {
  width: $postsWidth;
  margin: 0 auto;

  @media (max-width: $breakpointL) {
    width: 100%;
  }
}

.input {
  margin-top: $spacesL;
  margin-bottom: $spacesS;

  width: $formInput;
  padding: $spacesXS;

  font-size: $fonstSizeM;
  font-weight: $fontWeightS;

  background-color: inherit;
  color: $mainColor;

  border: solid $borderWidth $postBorderColor;
  outline: none;

  &::-webkit-input-placeholder {
    color: $placeholderColor;
  }
  &:-moz-placeholder {
    color: $placeholderColor;
  }
  &::-moz-placeholder {
    color: $placeholderColor;
  }
  &:-ms-input-placeholder {
    color: $placeholderColor;
  }
  @media (max-width: $breakpointXL) {
    font-size: $fonstSizeS;
    margin-top: $spacesS;
  }

  @media (max-width: $breakpointL) {
    box-sizing: border-box;
    width: 100%;
  }
}

.tagsTitle {
  @media (max-width: $breakpointL) {
    text-align: center;
    margin-bottom: $spacesXXS;
  }
}

.tags {
  width: $formInput;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpointL) {
    margin-bottom: $spacesS;
    box-sizing: border-box;
    width: 100%;
  }
}

.tag {
  margin-top: $spacesXXS;
  margin-right: $spacesXXS;
  padding: $spacesXXS $spacesS;
  color: $mainColor;
  border: solid $borderWidth $mainColor;
  border-radius: $spacesXS;

  font-size: $fonstSizeS;
  font-weight: $fontWeightS;

  cursor: pointer;

  @media (max-width: $breakpointL) {
    padding: $spacesXXS $spacesXS;
  }
}

.active {
  background: $accentColor;
  color: $textColor;
  font-weight: $fontWeightM;
  border: none;
}
