@import '@/styles/global.scss';

.container {
  margin: 0 $spacesM;

  @media (max-width: $breakpointL) {
    margin: 0 $spacesXS;
  }
}

.error {
  height: 100vh;
  margin-top: $spacesM;
  text-align: center;
  font-size: $fonstSizeL;
}
