@import '@/styles/global.scss';

.container {
  position: relative;
  margin: $spacesL;

  @media (max-width: $breakpointL) {
    margin: $spacesXS;
  }
}

.image {
  position: absolute;
  top: $spacesXXL;
  z-index: -1;
  height: $startContent;
  width: 100%;
  object-fit: cover;
}

.lines {
  display: flex;
  margin-left: $spacesL;
  @media (max-width: $breakpointM) {
    display: none;
  }
}

.lightLine {
  width: 55%;
  height: $lineHeight;
  background-color: $accentColor;
}

.darckLine {
  width: 25%;
  height: $lineHeight;
  background-color: $linkColor;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: $spacesL;
  background-color: $lightLinkColor;

  @media (max-width: $breakpointL) {
    flex-direction: column;
    padding-left: $spacesM;
    padding-right: $spacesM;
  }

  @media (max-width: $breakpointM) {
    padding: $spacesXS;
  }
}

.imageText {
  display: flex;
  margin-right: $spacesL;

  @media (max-width: $breakpointXXL) {
    margin-right: $spacesS;
  }
  @media (max-width: $breakpointXL) {
    flex-direction: column-reverse;
  }

  @media (max-width: $breakpointM) {
    margin: 0;
  }
}

.imageContent {
  margin-left: $spacesL;
  @media (max-width: $breakpointXXL) {
    margin-left: $spacesS;
  }
  @media (max-width: $breakpointM) {
    margin-left: 0;
    width: 100%;
  }
}

.imageHeaders {
  padding: $spacesM;
  background-color: $textColor;
  color: $mainColor;

  @media (max-width: $breakpointXL) {
    padding: $spacesXS;
  }
}

.imageDescription {
  margin: $spacesM;
  @media (max-width: $breakpointXXL) {
    margin: $spacesS;
  }
  @media (max-width: $breakpointM) {
    margin: 0;
  }
}

.numberList {
  display: flex;
  justify-content: space-around;
  margin-top: $spacesXXL;
  background-color: $accentColor;
}

.numberListItem {
  margin: $spacesS;
  @media (max-width: $breakpointL) {
    margin: $spacesXS;
  }
  @media (max-width: $breakpointM) {
    margin: 0;
    text-align: center;
  }
}

.number {
  color: $mainColor;
  font-size: $fonstSizeXXL;
  font-weight: $fontWeightL;
  @media (max-width: $breakpointL) {
    font-size: $fonstSizeL;
  }
}

.info {
  width: 50%;
  margin-right: $spacesM;
  @media (max-width: $breakpointL) {
    width: 100%;
  }
}

.title {
  margin-top: $spacesS;
  color: $mainColor;
  text-transform: uppercase;
  font-size: $fonstSizeS;
  letter-spacing: $letterSpacing;
  @media (max-width: $breakpointL) {
    font-size: $fonstSizeXS;
  }
}

.header {
  margin-top: $spacesS;
  margin-bottom: $spacesS;

  color: $mainColor;
  font-weight: $fontWeightM;
  font-size: $fonstSizeXL;
  line-height: $lineHeightXL;

  @media (max-width: $breakpointL) {
    line-height: normal;
    font-size: $fonstSizeL;
  }
}

.description {
  color: $mainColor;
  font-weight: $fontWeightS;
  font-size: $fonstSizeM;
  line-height: $lineHeightL;

  @media (max-width: $breakpointL) {
    line-height: normal;
    font-size: $fonstSizeXS;
    line-height: auto;
  }
}
