@import '@/styles/global.scss';

.container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $spacesS;

  height: $headerHeight;
  background-color: $mainColor;
}

.header {
  font-size: $fonstSizeL;
  font-weight: $fontWeightL;
  color: $textColor;

  @media (max-width: $breakpointL) {
    font-size: $fonstSizeM;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpointL) {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: $navigationWidth;
}

.link {
  font-size: $fonstSizeS;
  font-weight: $fontWeightS;
  color: $textColor;
  &:hover {
    color: $accentColor;
  }
  @media (max-width: $breakpointL) {
    margin: 0 auto;
    padding-top: $spacesS;
  }
}

.currentLink {
  color: $accentColor;
}

.button {
  position: relative;
  margin-left: $spacesM;
  padding: $spacesXS $spacesM;

  background-color: $textColor;
  color: $mainColor;

  font-size: $fonstSizeM;
  font-weight: $fontWeightL;

  transition: all 0.5s;
  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $accentColor;
    transition: all 0.5s;
    z-index: -1;
  }
  &:hover:before {
    width: 100%;
  }

  @media (max-width: $breakpointL) {
    margin: 0;
    margin-top: $spacesS;
    padding: $spacesXS;
  }
}

.video {
  width: $videoWidth;
  height: $videoHeight;

  @media (max-width: $breakpointM) {
    width: 100%;
    height: auto;
  }
}

.imgButton {
  display: flex;
  align-items: center;
  background-color: $mainColor;
  display: none;

  svg {
    fill: $accentColor;
  }

  @media (max-width: $breakpointL) {
    display: block;
  }
}

.rigthSideMenu {
  position: absolute;

  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: $spacesXS;

  top: 0;
  right: 0;
  background-color: $mainColor;
}
